*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(30,30,30);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

#hello_gif_container{
    display: flex;
    flex-direction: column;

    position: relative;
}

#hello_gif{
    width: 100vw;
}

#hello_gif_gradient{
    display: flex;
    flex-direction: column;

    position:absolute;

    width: 100%;
    height: 90%;
    bottom: 0;

    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(30,30,30,1));
}

.navigation_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: auto;

    font-family: Consolas,monaco,monospace; 
    font-size: 2vw;   
}

.nav_link{
    display: flex;
    flex-direction: column;

    align-self: center;

    color: rgb(245, 222, 179);
    text-decoration: none;

    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.nav_symbol{
    display: flex;
    flex-direction: column;

    align-self: center;

    color: rgb(245, 222, 179);

    text-decoration: none;
}

.nav_link:hover{
    color: rgb(145, 122, 79);
}

.nav_symbol:hover{
    color: rgb(145, 122, 79);
}

#about_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    
    margin-top: 10%;
    align-items: center;

    color:rgb(245, 222, 179);
    font-family: Consolas,monaco,monospace; 
}

#about_image_container{
    display: flex;
    flex-direction: column;
    width: 50%;

    align-items:center;
    justify-content: center;

    text-align: right;
}

#about_image{
    width: 40%;
    border-radius: 5px;
}

#about_content_container{
    display: flex;
    flex-direction: column;
    width: 50%;

    text-align: left;
}

#about_p{
    margin-right: 25%;
}

#project_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85vw;

    margin-top: 10%;
    align-self: center;
    justify-content: space-between;

    color: rgb(245, 222, 179);
    font-family: Consolas,monaco,monospace; 
}

.project{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.project_image_container{
    display: flex;
    flex-direction: row;
}

.project_image{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    border: 2px solid rgb(245, 222, 179);
    border-radius: 5px;
}

.project_info_container{
    display: flex;
    flex-direction: column;
}

.project_title{
    margin-top: 5px;
    font-size: 2vw;
}

.project_info{
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 1vw;
}


@media screen and (max-width:480px) {
    .navigation_bar{
        flex-direction: column;
        font-size: 4vw;
    }

    #about_container{
        flex-direction: column;
    }

    #about_image{
        width: 50%;
    }

    #about_header{
        text-align: center;
        font-size: 4vw;
        margin: 0;
    }

    #about_p{
        text-align: center;
        font-size: 2.5vw;
        margin: 0;
    }

    #project_container{
        justify-content: center;
    }

    .project{
        min-width: 75%;
    }
}