#pg_head{
    position: fixed;
    top: 0%;
    left: 0%;

    height: 10%;
    width: 100%;
}

#head_img_div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#head_img{
    z-index: -1;
    top: 0%;
    left:0%;

    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);

    width: 100%;
}

#head_nav{
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    
    top: 10%;
    left: 10%;

    height: 80%;
    width: 80%;
    
    background-color: rgb(0, 165, 40);

    border-radius: 5px;
}

.head_nav_link{
    

    padding: 1%;
    margin-right: 7.5%;
    margin-left: 7.5%;

    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.5vw;

    color: rgb(220, 220, 200);
    background-color: rgb(0, 155, 30);

    border-radius: 5px;
}

.head_nav_link:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 150, 35);
}

.head_nav_link:active{
    color: rgb(0, 0, 0);
}


#pg_main{
    position: absolute;
    top: 10%;
    left: 0%;

    min-height: 80%;
    width:100%;

    background-color: rgb(175, 175, 175);

    justify-content: center;

    display: block;
    overflow: auto;
}

#about_div{
    width: 90%;

    background-color: rgb(200, 200, 200);

    margin-top: 2.5%;
    margin-left: 5%;

    border-radius: 5px;

    font-family: 'IBM Plex Mono', monospace;

    display: block;
    overflow: auto;
}

#about_title{
    position: relative;
    padding-left: 2%;

    font-size: 1.25vw;

    float: left;
    text-align: left;

    width: 80.5%;
}

#about_text{
    display: table;

    padding-left: 2%;
    padding-right: 2%;

    margin-top: 0px;

    float: left;

    font-size: .75vw;
    text-align: left;
    text-indent: 5%;

    width: 80.5%;
}

#about_img{
    height: 20vw;
    float: right;

    vertical-align: top;

    margin-right: 2%;
    margin-bottom: 2%;
    
    background-color: rgb(200, 200, 200);

}

.post_r{
    width: 90%;
    height: 50%;

    background-color: rgb(200, 200, 200);

    margin-top: 2.5%;
    margin-left: 5%;

    border-radius: 5px;

    font-family: 'IBM Plex Mono', monospace;

    display: block;
    overflow: auto;
}

.post_l{
    width: 90%;
    height: 50%;

    background-color: rgb(200, 200, 200);

    margin-top: 2.5%;
    margin-left: 5%;

    border-radius: 5px;

    font-family: 'IBM Plex Mono', monospace;

    display: block;
    overflow: auto;
}

.post_title{
    position: relative;
    padding-left: 2%;

    font-size: 1.25vw;

    float: left;
    text-align: left;

    width: 80.5%;
}

.post_text{
    display: table;

    padding-left: 2%;
    padding-right: 2%;

    margin-top: 0px;

    float: left;

    font-size: .75vw;
    text-align: left;
    text-indent: 5%;

    width: 80.5%;
}



#pg_footer{
    left: 0%;

    height: 10%;
    width: 100%;

    font-family: 'IBM Plex Mono', monospace;

    background-color: rgb(200, 200, 200);
}
